<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nowcast</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col text-center">
	  <h1>Nowcast: {{ config['name'] }}</h1>
	</div>
      </div>
      <div class="row">
	<div class="col text-center">
	  <ul>
	    <li><a href="#future_capacities">Future capacities in {{ct}}</a></li>
	    <li><a href="#full_simulation">Full simulation</a></li>
	    <li><a href="#weeks">Past {{n_weeks}} weeks</a></li>
	    <li><a href="#statistics">Aggregated yearly statistics</a></li>
	    <li><a href="../{{results_dir}}/">Folder of all outputs</a></li>
	  </ul>
	</div>
      </div>
      <div class="row">
	<div class="col text-center">
	  <h2 id="future_capacities">Future capacities in {{ct}}</h2>
	  <table id="results_table">
            <tr>
              <th>Technology</th>
              <th>Future Capacity [GW or GWh]</th>
              <th>Current Capacity [GW or GWh]</th>
            </tr>
	    {% for tech in config['future_capacities'][ct] %}
            <tr>
              <td>{{tech}}</td>
              <td>{{config['future_capacities'][ct][tech]}}</td>
              <td>{{current_capacities[tech]}}</td>
            </tr>
 	    {% endfor %}
          </table>
	  <p>Constant hydrogen value: {{config['hydrogen_value']}} &euro;/MWh;
	  Value of lost load: {{config['voll']}} &euro;/MWh.
	  All costs and prices are in 2020 euros.</p>
	</div>
      </div>
      <div class="row">
	<div class="col text-center">
	  <h2 id="full_simulation">Full simulation (weekly averages)</h2>
	  <img src="../{{results_dir}}/{{ct}}-full-supplydemand.png" />
	  <img src="../{{results_dir}}/{{ct}}-full-state_of_charge.png" />
	  <img src="../{{results_dir}}/{{ct}}-full-price.png" />
	  <img src="../{{results_dir}}/{{ct}}-full-price_duration.png" />
	  {% for statistic in ["electricity mean price [&euro;/MWh]","System levelised cost [&euro;/MWh]"] %}
	  <p>{{statistic}}: {{ "%.2f"|format(statistics[statistic]) }}</p>
 	  {% endfor %}
	  <p><a href="#statistics">All aggregated yearly statistics</a></p>
	</div>
      </div>
      <div class="row">
	<div class="col text-center">
	  <h2 id="weeks">Past {{n_weeks}} weeks</h2>
	  {% for week in weeks %}
	  <h3>Week {{week}}</h3>
	  <img src="../{{results_dir}}/{{ct}}-week-{{week}}-supplydemand.png" />
	  <img src="../{{results_dir}}/{{ct}}-week-{{week}}-state_of_charge.png" />
	  <img src="../{{results_dir}}/{{ct}}-week-{{week}}-price.png" />
 	  {% endfor %}
	</div>
      </div>
      <div class="row">
	<div class="col text-center">
	  <h2 id="statistics">Aggregated yearly statistics</h2>
	  <p>All costs and prices are in 2020 euros. Annuities are calculated with <a href="../costs.csv">2030 cost assumptions</a> and a weighted average cost of capital (WACC) of 7%.</p>
	  <table id="statistics_table">
            <tr>
              <th>Statistic</th>
              <th>value</th>
            </tr>
	    {% for statistic in statistics %}
            <tr>
              <td>{{statistic}}</td>
              <td>{{ "%.2f"|format(statistics[statistic]) }}</td>
            </tr>
 	    {% endfor %}
         </table>
	</div>
      </div>
    </div>
  </body>
  </html>
